*target*
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
*/.classpath
*/.project
*/.springBeans
*/bin
.classpath
.project
target/
bin/
.settings/
.idea
../.idea
*.iml
